@inherits FlickrGalleryWebPage
@using Connect.DNN.Modules.FlickrGallery.Common;
@using Connect.FlickrGallery.Core.Repositories;
@{
    var firstPage = new ContentPage(0);
    var albumId = -1;
    if (HttpContext.Current.Request.Params["AlbumId"] != null)
    {
     albumId = int.Parse(HttpContext.Current.Request.Params["AlbumId"]);
    }
    var album = AlbumRepository.Instance.GetAlbum(Dnn.Module.ModuleID, albumId);
}

<div class="cfg-album-title">
 <h2>
  @album.Title
  <span style="float:right">
   <a href="@DotNetNuke.Common.Globals.NavigateURL()" title="@Html.GetLocalizedString("Back")">
    &times;
   </a>
  </span>
 </h2>
</div>

<div id="lstGallery" class="cfg-gallery" itemscope itemtype="http://schema.org/ImageGallery">
 @RenderPage("ServiceViews/AlbumSegment.cshtml", 0, Dnn)
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="pswp__bg"></div>
 <div class="pswp__scroll-wrap">
  <div class="pswp__container">
   <div class="pswp__item"></div>
   <div class="pswp__item"></div>
   <div class="pswp__item"></div>
  </div>
  <div class="pswp__ui pswp__ui--hidden">
   <div class="pswp__top-bar">
    <div class="pswp__counter"></div>
    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
    <button class="pswp__button pswp__button--share" title="Share"></button>
    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
    <div class="pswp__preloader">
     <div class="pswp__preloader__icn">
      <div class="pswp__preloader__cut">
       <div class="pswp__preloader__donut"></div>
      </div>
     </div>
    </div>
   </div>
   <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
    <div class="pswp__share-tooltip"></div>
   </div>
   <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
   <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
   <div class="pswp__caption">
    <div class="pswp__caption__center"></div>
   </div>
  </div>
 </div>
</div>

<script type="text/javascript">
 var page = 0;

 (function($) {

  $(document).ready(function() {

   $(window).scroll(function () {
    if (window.innerHeight + $(window).scrollTop() > $('.scroll-next').offset().top) {
     $('.scroll-next').remove();
     page += 1;
     galleryService.nextGallerySegment(page, 'album', function(data) {
      $('#lstGallery').append(data);
      initSwipe('.cfg-gallery figure');
     });
    }
   });

   galleryService.album(@albumId, function(data) {
    allSlides = data;
   });

   hookMoreLink();
   initSwipe('.cfg-gallery figure');
   $('.pswp').click(function () { return false; });

  });

 }(jQuery, window.Sys));

 function hookMoreLink() {
  $('.scroll-next').click(function () {
   $('.scroll-next').remove();
   page += 1;
   galleryService.nextGallerySegment(page, 'album', function (data) {
    $('#lstGallery').append(data);
    hookMoreLink();
   });
  });
 }
</script>
