@inherits FlickrGalleryWebPage
@using Connect.DNN.Modules.FlickrGallery.Common;
@{ 
    var albums = Connect.FlickrGallery.Core.Repositories.AlbumRepository.Instance.GetAlbums(Dnn.Module.ModuleID);
}
<div class="cfg-albums">
@foreach (var album in albums.OrderByDescending(a => a.Title))
{
<div class="cfg-album">
  <a href="@DotNetNuke.Common.Globals.NavigateURL(Dnn.Tab.TabID, "", "AlbumId=" + album.AlbumId.ToString())">
   <img src="@album.LargeSquareThumbnailUrl" width="150" height="150" />
  </a>
  <span>@album.Title</span>
</div>
}
</div>

